.Work {
  position: relative;
  margin: 100px 100px;
  .workTitle {
    height: 100vh;
    span {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include titleStyle($fz: 32vw, $c: #fff, $fw: 600);
      letter-spacing: -10px;
      z-index: -1;
    }
  }
  .workList {
    position: relative;
    li {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 400px;
      overflow: hidden;
      @include txtStyle2($fz: $fontM, $c: #eee, $lh: 1.8);
      &.odd {
        flex-direction: unset;
        .txt {
          padding-left: 50px;
          padding-right: 0px;
          h3,
          p {
            transform: translateX(20%);
          }
        }
        .pic {
          transform: translateX(-20%);
        }
      }
      &.active {
        .pic {
          opacity: 1;
          transform: translateX(0);
        }
        .txt {
          h3,
          p {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      h3 {
        @include titleStyle($fz: $fontXXL, $c: #fff, $fw: 500);
        margin-bottom: 30px;
      }
      span {
        padding: 0 10px;
        background-color: #000;
      }
    }
  }
  .pic {
    width: 100%;
    max-width: 40%;
    opacity: 0;
    transform: translateX(20%);
    transition: 0.5s $easing;
    img {
      width: 100%;
    }
  }
  .txt {
    width: calc(100% - 40%);
    padding-right: 50px;
    h3,
    p {
      opacity: 0;
      transform: translateX(-20%);
      transition: 0.5s $easing;
    }
    p {
      transition-delay: 0.2s;
    }
  }
}
@media screen and (max-width: $tablet) {
  .Work {
    margin: 100px 30px;
    .workTitle {
      height: 100vh;
    }
  }
}
@media screen and (max-width: 800px) {
  .Work {
    .workList {
      li {
        display: block;
        margin-bottom: 200px;
        &.odd {
          .txt {
            padding: 0;
          }
        }
        h3 {
          padding: 0;
          line-height: 1.5;
          margin-bottom: 20px;
        }
        span {
          padding: 0;
        }
      }
    }
    .pic {
      max-width: 100%;
      margin-bottom: 50px;
    }
    .txt {
      width: 100%;
      padding: 0;
    }
  }
}
@media screen and (max-width: $mp) {
  .Work {
    .workList {
      li {
        margin-bottom: 80px;
        h3 {
          font-size: $fontXL;
        }
      }
    }
  }
}
